<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="exportSettings" type="DMSExportUcto.Config.ExportConfigurationSection, DMSExportUcto"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="dataConnection" connectionString="Data Source=;User Id=dms20575;Password="/>
  </connectionStrings>
  <exportSettings 
        commandTimeout="60"
        exportDirectory="E:\Helios\Export_DMS\"
        dataFilename="DataExportLog.xml"
        dataFileEncoding="windows-1250"
        dataHeaderRow="true"
        eventLogFilename="EventLog.xml"
        defaultFileSuffix="true"
        logLevel="All"
        branchPrefix="true"
        cultureInfo="cs-CZ"
    />
</configuration>